.aboutUs {
    position: relative;
    z-index: 3;
    background-color: rgb(24, 22, 22);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs>div {
    flex: 1;
}

.aboutImg {
    margin: 0 5vw;
    height: 100vh;
    width: 40vw;
    object-fit: cover;
}

.aboutUs-content {
    text-align: center;
    margin-bottom: 15%;
    padding: 5%;

}

.aboutUs .head {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: clamp(2rem, 3vw, 3.5rem);
    text-align: start;
}

.aboutUs .head>span {
    font-weight: bold;
}

.aboutUs .body {
    height: fit-content;
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(0.95rem, 2vw, 1.05rem);
    text-align: start;
}

.aboutUs .body>div {
    margin-top: 3%;
}

.aboutUs .button {
    background-color: white;
    border: 1px solid black;
    padding: 2% 5%;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
}


.button:hover {
    background-color: black;
    color: white;
    border: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.slider img {
    margin: 0 22.5vw;
    width: 55vw;
}


@media screen and (max-width:750px) {
    .aboutImg {
        display: none;
    }

    .aboutUs {
        display: block;
    }

    .aboutUs-content {
        height: 60vh;
        width: 90vw;
    }

    .head {
        margin: 5% 0;
    }

    .body {
        background-color: rgba(255, 255, 255, 0.692);

    }

    .slider img {
        margin: 0;
        width: 100vw;
    }
}


@media screen and (max-width:550px){
    .aboutUs .button{
        display: none;
    }
}